@media (min-width: 1399px)
{
	.container, .container-lg, .container-md, .container-sm, .container-xl
	{
		max-width: calc(100% - 285px);
	}
	.left-side-menu .nav-item a, .nav-item a
	{
		font-size: 18px;
	}
	.signin-button, .login-button
	{
		font-size: 18px;
		width: auto;
		height: auto;
		line-height: inherit;
	}
	#testimonials .left-section
	{
		width: 30%;
	}
	#testimonials .right-section
	{
		width: 50%;
	}
	#features .our-features .features-box p
	{
		font-size: 16px;
		min-height: 153px;
	}
	#features .our-features .features-box h4
	{
		font-size: 18px;
	}
	#features .our-features .features-box a
	{
		font-size: 16px.
	}
	.main-banner .sub-div
	{
		margin-top: 165px;
	}
	.main-banner .sub-div h2
	{
		font-size: 64px;
	}
	.main-banner .sub-div .para-text
	{
		font-size: 26px;
	}
	.top-button span
	{
		font-size: 12px;
	}
	.main-title
	{
		font-size: 48px;
	}
	.sub-para
	{
		font-size: 18px;
		margin-bottom: 150px!important
	}
	#features .our-features .features-box .features-icon
	{
		width: 120px;
		height: 120px;
		border-radius: 40px;
	}
	#trusted .brand-logo .logo-box img
	{
		width: 106px;
	}
	 #jobs .content-box p
	 {
	 	margin-top: 100px;
	 }
	#jobs .content-box li, #jobs .content-box p
	{
		font-size: 18px;
	}
	#jobs .content-box li
	{
		line-height: 1.7;
	}
	.signin-button1
	{
		font-size: 18px;
	}
	#testimonials .carousel-inner
	{
		margin-top: 150px;
	}
	#testimonials .right-section p
	{
		font-size: 26px;
	}
	#testimonials .left-section
	{
		width: 40%
	}
	#testimonials .left-section .user-img
	{
		width: 480px;
		height: 480px;
	}
	#testimonials .left-section .user-img img
	{
		border-radius: 184px;
	}
	#testimonials .left-section .user-img .user-d
	{
		width: 180px;
		height: 180px;
		border-radius: 79px;
	}
	#testimonials .left-section .user-img .user-d img
	{
		width: 78px;
		height: 78px;
	}
	#app-download .app-store p
	{
		font-size: 35px;
	}
	.google_play-button 
	{
		width: 206px;
		height: 64px;
	}
	.google_play-button .google-text p
	{
		font-size: 12px;
	}
	.google_play-button .google-text h4
	{
		font-size: 20px;
	}

	.google_play-button .google-text
	{
		width: calc(100% - 40px);
	}
	.banner-button .google-text
	{
		width: calc(100% - 70px);
	}
	#footer .footer-section .footer-list li, #footer .footer-section .unorder-list p a, #footer .footer-copyright
	{
		font-size: 18px;
	}
	#trusted
	{
		margin:200px 0 ;
		margin-bottom: 250px;
	}
	#features
	{
		margin-bottom: 120px;
	}
	#app-download .app-store
	{
		padding: 175px 50px;
		border-radius: 160px;
	}
	.employeee-button
	{
		width: 205px;
		height: 64px;
		font-size: 20px!important;
	}
	.main-banner .sub-div a img
	{
		margin-top: 0;
	}
	.video_play-button p
	{
		margin:0;
	}


	/*job page*/

	.job-heading
	{
		font-size: 24px;
	}
	.location-label
	{
		font-size: 12px;
	}
	.search-bar select
	{
		font-size: 14px;
	}
	.search-bar .btn-primary
	{
		font-size: 14px;
	}
	.nav-pills .nav-item .nav-link
	{
		font-size: 14px;
	}
	.jobs-full-detail p .job-title
	{
		font-size: 18px
	}
	.badge-primary
	{
		line-height: 14px;
	}
	.jobs-full-detail .company-name
	{
		margin-top: -8px;
		font-size: 14px;
	}
	.jobs-full-detail .Salary
	{
		font-size: 24px;
	}
	.jobs-full-detail button img
	{
		margin-top: 0;
	}
	.jobs-full-detail button
	{
		font-size: 14px;
	}
	#jobs .tab-content .container
	{
		max-width: 100%;
	}
	#jobs .img-section .find-job-title
	{
		font-size: 48px;
	}
	#jobs .img-section p
	{
		font-size: 18px;
	}
	#jobs .job-section ul.pagination li a
	{
		font-size: 16px;
		border-radius: 10px;
	}
	#cities .city-outer .city-heading
	{
		font-size: 24px;
		font-family: 'Gordita medium'!important;
	}
	#cities .city-outer .city-name
	{
		font-size: 24px;
		font-family: 'Gordita regular';
		height: 75px;
	}
	#footer .footer-section .footer-heading
	{
		font-size: 24px;
	}
	.hires .jobs-full-detail .company-name
	{
		margin-top: 0;
	}
	#footer .footer-section .footer-list li img
	{
		margin-top: 6px;
	}

}

@media only screen and (min-width: 1024px)
{
	#cities .city-outer .city-name
	{
		width: calc(90% / 5);
	}
}
@media (min-width: 576px)
{
	.modal-sm 
	{
	    max-width: 370px;
	}
}
@media only screen and (max-width: 768px)
{
	#features .our-features .features-box
	{
		width: 100%;
	}
	#trusted .brand-logo .logo-box
	{
		width: calc(100% / 2);
		height: 100px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	#testimonials .left-section, #testimonials .right-section
	{
		width: 100%;
	}
	#testimonials .right-section
	{
		padding: 0;
		margin-top: 15px;
		text-align: center;
	}
	#app-download .app-store
	{
		border-radius: 10px;
	}
	.navbar-toggler
	{
		background: #157ef8;
	}
	.navbar-toggler:focus
	{
		background: #157ef8;
	}
	.nav-item .active:after
	{
		left: 6px;
	}
	#jobs-details .qualifications .q-details
	{
		width: 50%;
		float: left;
	}

	/*------------------ jobs css -----------------*/


	.search-bar .btn-primary
	{
		    width: 100%;
    margin-bottom: 15px;
	}
	.search-bar .col-md-5
	{
		padding: 0;
	}
	.jobs-full-detail .experience
	{
		font-size: 10px;
	}
	.jobs-full-detail .Fresher
	{
		font-size: 14px;
	}
	.jobs-full-detail .experience, .jobs-full-detail .Fresher
	{
		width: 85px;
	}
	.tab-content, .tab-content>.tab-pane
	{
		width: 100%;
		float: left;
	}
	.tab-content>.tab-pane
	{
		padding: 0;
	}
	#footer .footer-columns
	{
		width: 100%;
	}
	#jobs .job-section, #jobs .img-section p, #jobs .img-section .find-job-title
	{
		padding-left: 0;
	}
	#cities .city-outer .city-name
	{
		width: calc(92% / 3);
	}
	.signin-button, .login-button
	{
		margin-bottom: 10px;
	}
	#login-modal
{
	padding-right: 0!important;
}
#login-modal .input-div-left
{
	width: 40%;
	float: left;
}
#login-modal .input-div-right
{
	width: 60%;
	float: left;
}
#login-modal .modal-footer .col-md-6
{
	width: 50%;
	float: left;
}
	#testimonials .left-section img
	{
	      width: 200px;
	    border-radius: 50%;
	    height: 200px;
	    margin: 0 auto;
	}

}



@media only screen and (max-width: 460px)
{	
	#cities .city-outer .city-name
	{
		width: calc(90% / 2);
	}
	#jobs-details .qualifications .q-details
	{
		width: 50%;
		float: left;
	}
	#jobs-details .date-and-user span img
	{
		width: 12px;
	}
	#jobs-details .date-and-user span
	{
		font-size: 13px;
	}
}
@media only screen and (max-width: 375px)
{
	.jobs-full-detail .experience, .jobs-full-detail .Fresher
	{
		width: 80px;
	}
	.jobs-full-detail .experience
	{
		letter-spacing: 1px;
	}
	#cities .city-outer .city-name
	{
		width: 100%;
	}
	#jobs-details .qualifications .q-details
	{
		width: 100%;
	}
	#jobs-details .date-and-user span .dot-icon
	{
		display: none;
	}
	.main-title
	{
		font-size: 25px;
	}
}
